* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  background: #1d1f20;
}

body {
  margin-top: 5px;
  margin-left: 18px;
  margin-right: 18px;
}

.heading--main {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f35626;
  margin-bottom: 8px;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@media only screen and (max-width: 480px) {
  .heading--main {
    font-size: 24px;
  }
}

.info {
  max-width: 400px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  top: 20%;
  right: 10%;
  z-index: 100;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.loading {
  opacity: 1;
  background: #353434;
  color: #a69797;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 1s all ease;
}

.loading__loader {
  height: 10px;
  aspect-ratio: 8;
  --c: #a69797 90deg, #0000 0;
  background: conic-gradient(from 135deg at top, var(--c)),
    conic-gradient(from -45deg at bottom, var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 60% 0 0);
  animation: l5 0.8s infinite linear alternate;
}

.map__container {
  position: relative;
  width: 90vw;
  height: 90dvh;
  border-radius: 5px;
  overflow: hidden;
}

.map__map {
  height: 100%;
  width: 100%;
  outline: none;
}

.placement__info-box {
  position: absolute;
  z-index: 5000;
  right: 1%;
  top: 1%;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@keyframes l5 {
  to {
    clip-path: inset(0 0 0 60%);
  }
}
